.matrix {
    height: 500px;
    width: 700px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 1px solid black;
}

.cell:hover {
    background-color: red;
}